@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
*{
  margin:0;
  padding:0;
}

header{
  border-bottom: 1px solid #060;
  height: 10vh;
  display:flex;
}

body{
  background-image:radial-gradient(#444, #111);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body:after {
  background-image:linear-gradient(transparent, transparent 3px, #222);
  background-size:4px 4px;
  bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

/* ------------------------card-------------------------- */

.card{
  background: transparent;
  box-shadow: 0 0 5vmin 1vmin #000 inset;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 8px;
  border: 0.5px solid rgba(0, 102, 0, 0.164);
}

.card-body{
  animation:colorPulse 5s infinite ease-in-out;
  background-image:radial-gradient(#444, #111);
  box-shadow:0 0 5vmin 1vmin #000 inset;
  border-radius: 8px;
  font-family:'IBM Plex Mono', monospace;
  overflow:hidden;
}
.card-body>h1{
  font-size: 35px;
}

body:after {
  background-image:linear-gradient(transparent, transparent 3px, #222);
  background-size:4px 4px;
  bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

p:last-child:after {
  animation:blink 1s infinite;
  content:"_";
}

@keyframes colorPulse {
  0%, 100% {
    color:#0c0;
  }
  48%, 52% {
    color:#090;
  }
  50% {
    color:#060;
  }
}

@keyframes blink {
  50% {
    opacity:0;
  }
}
/* ------------------------card-------------------------- */

#logo{
  width: 30vw;
  height: 10vh;
  margin: 1.1vh 0 0 1vw;
}

#logo img{
  height: 8vh;
}
#display{
  width: 50vw;
}

#user{
  width: 20vw;
}

main{
  margin: 2vh 2vw;
  min-height: 80vh;
}

#notes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card a{
  text-decoration: none;
}

#modal-view{
  border:1px solid ;
  position: absolute;
  display:none;
  width: 90vw;
  padding:10px;
  color:#0c0; 
}

#close-modal{
  float:right;
}

#modal{
  border:1px solid;
  position: absolute;
  padding:2vh 2vw;
  display:none;
  width: 90vw;
  color:#0c0;
}

#controls-note{
  display:flex;
  gap:10px;
}

#btn-save-note{
  color:#0c0;
}

.form-control{
  background-color: #222;
  color: #090;
  border-color: #090;
}

.form-control:focus {
  color: #090;
  background-color: #222;
  border-color: #0c0;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(0, 44, 6, 0.25);
}

